/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
:root {
  --black: #222;
  --blue: #248888;
  --white: #ffffff;
  --reddish: #ff764d;
}


body{
  background-color: var(--black);
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

#pad, #keyboard{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 20px;
}

h1{
  color: var(--blue);
  font-size: 46px; 
  font-weight: 100; 
  line-height: 50px; 
  letter-spacing: 1px; 
  padding: 40px 0 40px; 
  border-bottom: double #999;
  margin-bottom: 40px;
} 

h2, span{
  color: var(--white);
  font-size: 46px; 
  font-size: 16px; 
  line-height: 26px; 
  margin: 0;
  text-align: center;
}

p, label{ 
  color: var(--white);
  font-size: 16px; line-height: 26px; 
  text-indent: 30px; 
  margin: 0; 
}

a{ 
  min-height: 40px;
  min-width: 40px;
  color: var(--reddish);
  border: 1px solid var(--reddish); 
  border-radius: 5px;
  text-decoration: none; 
  text-align: center;
  margin-bottom: 10px;
}

a:hover, a:active{ 
  color: #fff; 
  border: 1px solid #fff; 
}

a.key{
  background-color: var(--black);
  height: 80px;
  line-height: 80px;
  box-shadow: 0px 3px 2px var(--white);
}
a.key.major{
  
}

a.key.minor{
  background-color: var(--reddish);
  color: var(--white);
  max-height: 50px;
  line-height:50px;
  /* position:relative;
  left: -10px */
}

@keyframes scaleUp {
  0% {
    transform: scale(1, 1);
 }
  50% {
    transform: scale(1.2, 1.2);
 }
  100% {
    transform: scale(1, 1);
 }
}
@keyframes scaleDown {
  0% {
    transform: scale(1, 1);
 }
  50% {
    transform: scale(0.8, 0.8);
 }
  100% {
    transform: scale(1, 1);
 }
}
body, html {
  background: black;
  background-blend-mode: screen;
  color: white;
  font-size: 14px;
  height: 100%;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
#remote {
  display: flex;
  align-items: center;
  padding: 20px 0;
  width: 860px;
  margin: 0 auto;
}
#remote button {
  margin-right: 20px;
}
#remote #step-count {
  margin-left: auto;
}
#app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}
#app-wrapper section {
  min-width: 872px;
}
#app-wrapper input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  outline: none;
  width: 20px;
  height: 20px;
  border: none;
  background: rgba(255, 255, 255, .3);
  position: relative;
  /* border-radius: 100%; */
  margin: 2px;
  cursor: pointer;
}
#app-wrapper input[type="checkbox"]:nth-child(4n+1) {
  margin-left: 12px;
}
#app-wrapper input[type="checkbox"]:checked, #app-wrapper input[type="checkbox"]:hover {
  background: var(--blue);;
  animation-name: scaleDown;
  animation-duration: 0.15s;
}
#app-wrapper input[type="checkbox"]:checked.active, #app-wrapper input[type="checkbox"]:hover.active {
  background: var(--reddish);;
  animation-name: scaleUp;
  animation-duration: 0.15s;
}